@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '../../vendor/filament/support/resources/css/index.css';

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../app/Filament/Forms/Components/RichEditor/**/*.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* display: ['"Cabin"', ...defaultTheme.fontFamily.sans],
                body: ["PT Serif", ...defaultTheme.fontFamily.serif],
                serif: ["PT Serif", ...defaultTheme.fontFamily.serif],
                logo: ["Courier New", ...defaultTheme.fontFamily.sans], */

    --font-display: 'Cabin', sans-serif;
    --font-sans: 'Cabin', sans-serif;
    /* --font-serif: 'Times New Roman', serif;
    --font-body: 'Times New Roman', serif; */
    --font-serif: 'PT Serif', serif;
    --font-body: 'PT Serif', serif;
    --font-logo: 'Courier Prime', monospace;

    --color-primary-50: #fef5ee;
    --color-primary-100: #fce9d8;
    --color-primary-200: #f9ceaf;
    --color-primary-300: #f5ab7c;
    --color-primary-400: #ef7f48;
    --color-primary-500: #ec652e;
    --color-primary-600: #dc451a;
    --color-primary-700: #b73317;
    --color-primary-800: #922a1a;
    --color-primary-900: #762518;
    --color-primary-950: #3f100b;

    --color-secondary-50: #e7f2fe;
    --color-secondary-100: #c0dafd;
    --color-secondary-200: #8eb1fb;
    --color-secondary-300: #5c89f8;
    --color-secondary-400: #2a61f5;
    --color-secondary-500: #1355d9;
    --color-secondary-600: #0f44b0;
    --color-secondary-700: #0b3388;
    --color-secondary-800: #072260;
    --color-secondary-900: #031138;
    --color-secondary-950: #000615;
}

/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: false;
}

@plugin "daisyui/theme" {
    name: 'clustera';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #ec652e;
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(75% 0.183 55.934);
    --color-accent-content: oklch(98% 0.003 247.858);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(12% 0.042 264.695);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(64% 0.222 41.116);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 0.5rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

@import './utility/dropcap.css';
@import './utility/menu.css';

@layer utilities {
    .rotate-center {
        animation: rotate-center 2s ease-in-out infinite reverse;
    }
    @keyframes rotate-center {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

body {
    @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-serif font-bold;
}

.text-logo {
    @apply font-logo font-bold tracking-wider text-primary-500;
}

/* Menu principale */
.main-menu a {
    @apply relative font-display text-base font-medium uppercase;

    &::after {
        @apply absolute bottom-0 left-0 w-0 bg-primary-500 transition-all duration-500 ease-in-out content-[''];
    }

    &.active,
    &:hover {
        &::after {
            @apply left-1/2 h-1 w-1/2 -translate-x-1/2 transform;
        }
    }
}

/* Slider home page */

.splide__pagination {
    @apply !bottom-2 lg:!bottom-3;

    li button {
        @apply !bg-white lg:!m-1 lg:!size-4;

        &.is-active {
            @apply !bg-primary-500;
        }
    }
}

.splide__arrow {
    @apply !bg-transparent transition-all duration-100 ease-in-out md:!size-12;

    &.splide__arrow--next {
        @apply md:hover:!-mr-1;
    }

    &.splide__arrow--prev {
        @apply md:hover:!-ml-1;
    }

    svg {
        @apply !fill-primary-500 md:!size-full;
    }
}

/* Margine verticale predefinito */
.vertical-margin {
    @apply my-6 md:my-12;
}

/* Stili per il contenuto dello slide */
.slide-prose {
    h2,
    h3,
    p {
        @apply drop-shadow-lg;
    }

    h2 {
        @apply mb-1.5 font-display! text-3xl font-bold md:mb-4 md:text-5xl;
    }

    h3 {
        @apply mb-1 font-display! text-xl font-semibold md:mb-2 md:text-2xl;
    }
}

.divide {
    @apply mx-auto my-4 w-[80%] border-t-8 border-dotted border-stone-200 md:my-12 lg:container;
}

/* Shimmer */
.shimmer {
    @apply animate-pulse bg-gray-300;
}
